/**** Colors ****/

$black: #231f20;
// CMYK - 70 68 64 74
$white: #ffffff;
// CMYK -  0 0 0 0
$green: #62a70f;
// CMYK 67 12 100 1
$grey: #54575a;
// CMYK 66 56 53 29
$dark-blue: #253746;
// 86 69 50 46
$purple: #8332a7;
// CMYK  60 91 0 0
$red: #CE0058;
// CMYK - 11 100 46 1
$blue: #003D4C;

$brand-font: 'Source Sans Pro', sans-serif;

$color: #ED303C;
