/* ==========================================================================
  Icons
========================================================================== */

.icon {
  background: url(../img/icons/sprite.png) no-repeat 0 0;
  display: inline-block;
  width: 56px;
  height: 56px;
  text-indent: -999em;
  overflow: hidden;
  text-align: left;
}

.icon-search {
  background-position: 0 0;
}

.icon-search-small {
  background-position: -236px -99px;
  width: 16px;
  height: 15px;
}

.icon-graph {
  background-position: -60px 0;
}

.icon-graph-small {
  background-position: -321px -95px;
  width: 29px;
  height: 18px;
}

.icon-book {
  background-position: -120px 0;
}

.icon-book-small {
  background-position: -265px -99px;
  width: 18px;
  height: 14px;
}

.icon-target {
  background-position: -183px 0;
}

.icon-target-small {
  background-position: -296px -100px;
  width: 18px;
  height: 12px;
}

.icon-taxonomy {
  background-position: -293px 0;
  width: 58px;
  height: 52px;
  margin-bottom: -8px;
}

.icon-books-multiple {
  background-position: 1px -84px;
  width: 33px;
  height: 28px;
}

.icon-monitors {
  background-position: -49px -87px;
  width: 31px;
  height: 27px;
}

.icon-play-btn {
  background-position: -96px -90px;
  width: 32px;
  height: 23px;
}

.icon-news {
  background-position: -149px -88px;
  width: 34px;
  height: 25px;
}

.icon-push {
  background-position: -198px -86px;
  width: 24px;
  height: 27px;
}

.icon-file {
  background-position: 0 -146px;
  width: 72px;
  height: 88px;
}

.icon-files-multi {
  background-position: -86px -145px;
  width: 71px;
  height: 89px;
}

.icon-file-medic {
  background-position: -169px -146px;
  width: 72px;
  height: 87px;
}

.icon-file-check {
  background-position: -254px -163px;
  width: 57px;
  height: 70px;
}

.icon-file-scope {
  background-position: 0 -248px;
  width: 41px;
  height: 51px;
}

.icon-v2 {
  background: url(../img/icons/sprite-v2.png) no-repeat 0 0;
  display: inline-block;
  width: 91px;
  height: 91px;
  text-indent: -999em;
  overflow: hidden;
  text-align: left;
}

.sub-menu {
  a {
    &:before {
      content: " ";
      background: url(../img/icons/sprite-v2.png) no-repeat 0 0;
      display: inline-block;
      width: 91px;
      height: 91px;
      text-indent: -999em;
      overflow: hidden;
      text-align: left;
      margin-right: 5px;
    }
  }
}

.icon-search-v2 {
  background-position: 0 0;
}

.icon-search-medium-v2 {
  background-position: 0px -149px;
  width: 48px;
  height: 43px;
}

.icon-search-small-v2 {
  background-position: -2px -110px;
  width: 13px;
  height: 11px;
}

.menu-item-233 {
  a {
    &:before {
      background-position: -2px -110px;
      width: 13px;
      height: 11px;
    }
  }
}

.icon-graph-v2 {
  background-position: -95px 0;
}

.icon-graph-small-v2 {
  background-position: -21px -110px;
  width: 16px;
  height: 11px;
}

.menu-item-232 {
  a {
    &:before {
      background-position: -21px -110px;
      width: 16px;
      height: 11px;
    }
  }
}

.icon-book-v2 {
  background-position: -189px 0;
}

.icon-book-medium-v2 {
  background-position: -138px -155px;
  width: 47px;
  height: 37px;
}

.icon-book-small-v2 {
  background-position: -46px -111px;
  width: 14px;
  height: 11px;
}

.menu-item-231 {
  a {
    &:before {
      background-position: -46px -111px;
      width: 14px;
      height: 11px;
    }
  }
}

.icon-target-v2 {
  background-position: -285px 0;
}

.icon-target-medium-v2 {
  background-position: -200px -156px;
  width: 52px;
  height: 36px;
}

.icon-target-small-v2 {
  background-position: -69px -114px;
  width: 16px;
  height: 11px;
}

.menu-item-230 {
  a {
    &:before {
      background-position: -69px -114px;
      width: 16px;
      height: 11px;
    }
  }
}

.icon-taxonomy-v2 {
  background-position: -435px 0;
  width: 52px;
  height: 46px;
}

// Solutions Icons

.icon-solutions {
  background: url(../img/icons/sprite-solutions.png) no-repeat 0 0;
  display: inline-block;
  width: 140px;
  height: 140px;
  text-indent: -999em;
  overflow: hidden;
  text-align: left;
}

.icon-precision {
  background-position: 30px 29px;
}

.icon-scale {
  background-position: 31px -186px;
}

.icon-speed {
  background-position: -385px 34px;
}

.icon-personalization {
  background-position: -387px -194px;
}

// Search & Discovery Icons

.icon-s-d {
  background: url(../img/icons/sprite-search-discovery.png) no-repeat 0 0;
  display: block;
  text-indent: -999em;
  overflow: hidden;
  margin: 0 auto 10px;
  height: 31px;
}

.icon-search-blue {
  background-position: -74px -63px;
  width: 32px;
}

.icon-language {
  background-position: -74px -1px;
  width: 36px;
}

.icon-suggest {
  background-position: -2px -65px;
  width: 34px;
}

.icon-navigate {
  background-position: -1px -140px;
  width: 22px;
}

.icon-health {
  background-position: -1px 0;
  width: 36px;
}


